@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  background: #f5f7fa;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 0 2.5rem; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #fff; }

a:hover {
  text-decoration: underline; }

li {
  margin: .625rem 0 0 -1.25rem;
  width: 100%;
  max-width: 26.875rem; }

/* Container */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 75rem;
  margin: 2.5rem auto;
  background: #fff; }

/* Left */
.cv__left {
  width: 31%;
  background: #1e2939; }

.cv__photo {
  margin: 2.5rem 0 0;
  height: 100%;
  width: 100%; }

.cv__info {
  margin: 0 0 2rem 2.5rem; }

.bio__title {
  margin: 3rem 0 0; }

.cv__contacts {
  display: inline-block; }

.contact__item {
  margin-top: .675rem; }

.contact__item span {
  margin-right: .5rem; }

.cv__skills ul {
  margin: 0 0 .625rem; }

.cv__skills ul li {
  color: #ff6b08; }

.cv__skills ul li span {
  color: #fff;
  margin-left: 0.2rem; }

/* Right */
.cv__right {
  margin: 0 0 2rem 6rem;
  width: 69%;
  color: #000; }

.right__title {
  margin-top: 3.125rem;
  font-size: 1.25rem;
  font-weight: 700; }

.about__prof {
  margin: 6.875rem 0 0;
  font-size: .875rem;
  font-weight: 700; }

.about__name {
  margin-top: 1rem;
  font-size: 2.8125rem;
  font-weight: 700; }

.about__text {
  color: #595959;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.375rem;
  margin: 1rem 0 0;
  width: 100%;
  max-width: 26.875rem; }

.projects ol {
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.25rem; }

.projects ol li span {
  color: #595959;
  font-weight: 400; }

.projects a {
  color: #595959; }

.exp__prof {
  margin-top: 1.25rem;
  font-size: 1rem;
  font-weight: 700; }

.exp__prof span {
  color: #ff6b08; }

.period {
  margin: .9375rem 0;
  color: #a8a8a8;
  font-size: .75rem;
  font-weight: 400; }

.stick {
  color: #000;
  font-size: 1rem;
  font-weight: 400; }

.exp__responsibility {
  line-height: 1.25rem;
  color: #595959;
  font-size: .875rem;
  font-weight: 400; }

.education__place {
  margin-top: 1.25rem;
  color: #ff6b08;
  font-size: 1rem;
  font-weight: 700; }

.education__prof {
  margin-top: 1.25rem;
  font-size: .875rem;
  font-weight: 700; }
